main {
    /*font-family: "Space Mono", monospace;*/
    font-family: "Press Start 2P", system-ui;
}
.under_construction {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.under_construction div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.under_construction div img {
    border-radius: 100%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}